#editions_menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

#editions_menu div {
    text-align: center;
}

@media screen and (min-width: 700px) {
    #editions_menu div {
        padding: 1rem;
    }
}