h1 {
    height: 10rem;
}

article {
    width: 65rem;
}

#covers_container {
    grid-template-columns: 1fr 1fr 1fr;

}

#covers_container div {
    width: 20rem;
    height: 35rem;
}

#covers_container div img {
    width: 17rem;
    height: 22.61rem;
}

#covers_container div p {
    width: 17rem;
}